:host /deep/ ng2-smart-table a { color: #455158; }
:host /deep/ ng2-smart-table a:link { color:#dd4442; }
:host /deep/ ng2-smart-table a:hover { color: #dd4442; }
:host /deep/ ng2-smart-table a:focus { color:#dd4442; }

:host /deep/ td.ng2-smart-actions a { color:#fff;
    background: #00bbc7;
    font-size: 14px;
    line-height: 20px;
    padding: 0 10px; }