<div class="col-md-10 ">
  <h2>Register User</h2>
  <form  name="form" (ngSubmit)="frm.form.valid && register(frm.value)" #frm="ngForm" novalidate>
    <div class="row">
        <div class="col-md-6">
            <div class="form-group" [ngClass]="{ 'has-error': frm.submitted && !username.valid }">
                    <label for="firstName">First Name</label>
                    <input type="text" class="form-control input-underline input-lg" [(ngModel)]="fname" name="firstName"  #firstName="ngModel" ngModel required placeholder="Enter the first name" />
                    <div *ngIf="frm.submitted && !firstName.valid" class="help-block">First Name is required</div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="form-group" [ngClass]="{ 'has-error': frm.submitted && !username.valid }">
                    <label for="lastName">Last Name</label>
                    <input type="text" class="form-control input-underline input-lg" [(ngModel)]="lname" name="lastName"  #lastName="ngModel" ngModel required placeholder="Enter the last name" />
                    <div *ngIf="frm.submitted && !lastName.valid" class="help-block">Last Name is required</div>
             </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6">
                <div class="form-group" [ngClass]="{ 'has-error': frm.submitted && !username.valid }">
                        <label for="lastName">Designation</label>
                       
                        <input auto-complete  class="form-control input-underline input-lg"  [(ngModel)]="des" name="designation"  #designation="ngModel" ngModel required placeholder="Enter the Designation" [source]="designations" />
                        <div *ngIf="frm.submitted && !designation.valid" class="help-block">Designation is required</div>
                    </div>
        </div>
        <div class="col-md-6">
                <div class="form-group" [ngClass]="{ 'has-error': frm.submitted && !username.valid }">
                        <label for="lastName">Phone Number</label>
                        <input type="text" class="form-control input-underline input-lg"  [(ngModel)]="pnumber" name="phoneNumber"  #phoneNumber="ngModel" ngModel required placeholder="Enter the phonenumber" />
                        <div *ngIf="frm.submitted && !phoneNumber.valid" class="help-block">Phone Number is required</div>
               </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6">
                <div class="form-group" [ngClass]="{ 'has-error': frm.submitted && !username.valid }">
                        <label for="lastName">Location</label>
                        <input auto-complete  class="form-control input-underline input-lg"  [(ngModel)]="loc" name="location" required placeholder="Enter the location" #location="ngModel" ngModel [source]="locations" />
                        
                    </div>
        </div>
        <div class="col-md-6">
            <div class="form-group" >
                    <label for="lastName">Department</label>
                      <tag-input class="form-control input-underline input-lg" name="tags"  [(ngModel)]="dept" #tags="ngModel" ngModel placeholder="Enter the department">
                        <tag-input-dropdown [showDropdownIfEmpty]="true"
                                            [autocompleteItems]="unique">
                        </tag-input-dropdown>
                    </tag-input>
                </div>
        </div>
       
    </div>
     
     <div class="row">
         <div class="col-md-6">
                <div class="form-group" [ngClass]="{ 'has-error': frm.submitted && !username.valid }">
                        <label for="username">Email Address</label>
                        <input type="email" class="form-control input-underline input-lg"  [(ngModel)]="uname" name="username" #username="ngModel" ngModel required placeholder="Enter the username"/>
                        <div *ngIf="frm.submitted && !username.valid" class="help-block">Username is required</div>
                    </div>
         </div>
     </div>
     
     <div class="row" *ngIf="show">
         <div class="col-md-6">
                <div class="form-group" [ngClass]="{ 'has-error': frm.submitted && !password.valid }">
                        <label for="password">Password</label>
                        <input type="password" class="form-control input-underline input-lg" name="password" #password="ngModel" ngModel required placeholder="Enter the first name"/>
                        <div *ngIf="frm.submitted && !password.valid" class="help-block">Password is required</div>
                    </div>
         </div>
     </div>
     <div class="row" *ngIf="show">
         <div class="col-md-6">
                <div class="form-group" [ngClass]="{ 'has-error': frm.submitted && !password.valid }">
                        <label for="password">Confirm Password</label>
                        <input type="password" class="form-control input-underline input-lg" name="cnf" #cnf  required placeholder="Enter the confirm password"/>
                        <div *ngIf="frm.submitted && !password.valid" class="help-block">Password is required</div>
                   </div>
         </div>
     </div>
      
     <div class="row">
         <div class="col-md-6">
                <div class="form-group">
                        <input type="submit" [disabled]="!frm.form.valid" class="btn rounded-btn btn-block" value="Register">
                       
                        <!-- <a [routerLink]="['/login']" class="btn btn-link">Cancel</a> -->
                </div>
         </div>
     </div>

     
    

     
     
       
        
     
  </form>
</div>