<div class="login-page" >
    <div class="row justify-content-md-center">
        <div class="col-md-4">
            <img src="assets/images/alicon1.png"  class="img-fluid" />
            <h1>Reset a Password</h1>
            <form  #frm="ngForm" (ngSubmit)="onLoggedin(frm.value)">
                <div class="form-group">
                    <input type="hidden" name="objectId" #objectId="ngModel" ngModel [(ngModel)]="objID1" />
            
                </div>
                <div class="form-content">
                    <div class="form-group">
                       
                          <input type="password" class="form-control input-underline input-lg" pattern="^(?=)(?=.*[@#$%^&+=]).*$" name="password" #password="ngModel"
                            ngModel required placeholder="Enter the password" minlength="6" />
                          <small class="text-danger pull-left" *ngIf="password.errors?.pattern">
                            Need atleast one special character
                          </small>
                          <small class="text-danger pull-left" *ngIf="password.errors?.required">
                            Password is Required
                          </small>
                          <small class="text-danger pull-left" *ngIf="password.errors?.minlength">
                            At least 6 character
                          </small>
                    </div>
                    <div class="form-group">
                       
                          <input type="password" class="form-control input-underline input-lg" validateEqual="password" name="confirmPassword" #confirmPassword="ngModel"
                            ngModel required placeholder="Re-enter password" />
                          <small class="text-danger pull-left" [hidden]="confirmPassword.valid || (confirmPassword.pristine && !frm.submitted)">
                            Password mismatch
                          </small>
                    </div>
                </div>
                <div class="form-group">
                 
                        <input type="submit" [disabled]="!frm.valid"  class="btn rounded-btn btn-block" value="Save">
                </div>
            </form>
        </div>
    </div>
</div>
